<%- include('partials/header') %>


<!-- Addresses -->
<a href="/account-settings/addresses">Your Addresses</a>

<!-- Payment Methods -->
<a href="/account-settings/payment-methods">Manage Payment Methods</a>

<!-- Notifcation Preferences -->
<a href="/account-settings/notification-preferences">Notification Preferences</a>

<!-- Delete Account -->
<a href="/account-settings/delete-account">Delete Account</a>


<%- include('partials/footer') %>