<%- include('partials/header') %>


Are you sure you want to delete your account?
<br>
Doing so will remove all of your posted items from the store, as well as remove any information saved in your account settings. This includeds addresses, payment methods, notification preferences, etc.
<br>
Any of your pending orders will still be completed by the seller.
<br>
You may be required to complete any orders for items you are selling.
<br>

<form action="delete-account?_method=DELETE" method="POST" onsubmit="return confirm('Are you sure you want to delete your account? This is permanent and cannot be reversed.');">
    <button type="submit">Delete account</button>
</form>


<%- include('partials/footer') %>