<%- include('partials/header') %>


<div class="reg">
  <h1>Register</h1>

  <!-- Makes POST request to /register route -->
  <div class="reg-inner">
    <div class="sign-in-default">
      <form action="/register" method="POST">
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" class="form-control" name="username" id="username" required>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" name="password" id="password"
            style="margin: 0; padding: .375rem .75rem;" required>
        </div>
        <div class="form-group">
          <label for="conf-password">Confirm Password</label>
          <input type="password" class="form-control" name="conf-password" id="conf-password"
            style="margin: 0; padding: .375rem .75rem;" required>
        </div>
        <div class="registrate">
          <button disabled id="submit-btn" type="submit" class="btn btn-dark">Register</button>
          <p id="match-indicator" style="display: none;">Passwords do not match</p>
        </div>
      </form>
    </div>
    <div class="reg-separator">
      <div style="border-right: 3px solid #212529; height: 45%; width: 40px;"></div>
      <div style="text-align: center;">OR</div>
      <div style="border-right: 3px solid #212529; height: 45%; width: 40px;"></div>
    </div>
    <div class="sign-in-alternates">
      <div class="alt-sign-in">
        <a class="btn btn-block btn-social btn-google" href="/auth/google" role="button">
          <img class="google-img" src="../images/icons8-google-100.png" alt="">
          Sign Up with Google
        </a>
      </div>
    </div>
  </div>

</div>


<%- include('partials/footer') %>