<%- include('partials/header') %>

<!-- Nav bar -->
<!-- <nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">Home</a></li>
    <li class="breadcrumb-item"><a href="#">Next Page</a></li>
    <li class="breadcrumb-item active" aria-current="page">Next Next Page</li>
  </ol>
</nav> -->

<%- include('partials/footer') %>
