<%- include('partials/header') %>

<!-- Register/Login/Cart -->
<div class="register">
  <% if (check) { %>
  <a class="btn btn-light btn-med" href="/account" role="button">Account</a>
  <a class="btn btn-dark btn-med" href="/logout" role="button">Logout</button>
  <% } else { %>
  <a class="btn btn-light btn-med" href="/register" role="button">Register</a>
  <button class="btn btn-dark btn-med" onclick="openLogin()">Login</button>
  <% } %>

  <a class="btn btn-light btn-med" href="#" role="button">CART</a>
</div>
</div>

<!-- Display items for mf shopping -->

<div class="card">
  <% itemList.forEach(function(item) { %>
    <div class="card-body"><%= item.name %></div>
  <% }); %>
</div>

<%- include('partials/footer') %>
