<%- include('partials/header') %>


<div class="upload-error-head">
  <h4>An error has occured with your upload.</h4>
  <h5>Please try again later or contact customer support.</h5>
  <hr>
  <p><%= error %></p>
</div>

<div class="upload-error-foot">
  <a class="btn btn-light btn-med" href="/item-upload">Try Again</a>
  <a class="btn btn-light btn-med" href="/account">View Account</a>
  <a class="btn btn-light btn-med" href="/">Return Home</a>
</div>


<%- include('partials/footer') %>