.header {
  display: flex;
  padding: 32px;
}

.welcome {
  width: 50%;
  float: left;
  text-align: left;
}

.account {
  width: 50%;
  text-align: right;
  margin: auto 0;
}

.slide {
  margin: 32px;
}

.carousel-container {
  width: 90%;
  padding: 1px;
  background-color: grey;
  margin: auto;
}

.carousel-item {
  height: 400px;
  width: 600px;
}

.cards {
  width: 80%;
  display: flex;
  margin: 64px auto auto auto;
}

.card {
  width: 24%;
  margin: 0 1%;
  height: 375px;
}

.card img {
  height: 200px;
  background: transparent no-repeat center;
  background-size: cover;
}
